<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Drömjobbet hittar dig</h1>
    <p class="lead">
      Låt ditt drömjobb hitta dig... du behöver bara registrera dig!
    </p>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">
        Registrera
      </button>
      <button class="btn btn-info btn-lg mr-2">Läs mer</button>
    </div>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>
